<template>
  <div>
    <b-button variant="success" class="float-right" @click="addNewproduct"
      >Add New</b-button
    >
    <b-modal
      id="modal-form-product"
      ref="modal-form-product"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="Name"
          label-for="name"
          :invalid-feedback="invalidFeedbackName"
          :valid-feedback="validFeedbackName"
          :state="stateName"
        >
          <b-form-input id="name" v-model="form.name" required></b-form-input
        ></b-form-group>

        <b-form-group
          label="Price:"
          label-for="price"
          :invalid-feedback="invalidFeedbackPrice"
          :valid-feedback="validFeedbackPrice"
          :state="statePrice"
        >
          <b-form-input id="price" v-model="form.price" required></b-form-input
        ></b-form-group>

        <b-form-group
          label="Cost:"
          label-for="cost"
          :invalid-feedback="invalidFeedbackCost"
          :valid-feedback="validFeedbackCost"
          :state="stateCost"
        >
          <b-form-input id="cost" v-model="form.cost" required></b-form-input
        ></b-form-group>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
    <b-table striped hover :items="productList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button @click="editproduct(data.item)">Edit</b-button>
        &nbsp;
        <b-button variant="danger" @click="delproduct(data.item)">Delete</b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
import axios from 'axios'
// import { delete } from 'vue/types/umd'
// import productService from './productService'
export default {
  data () {
    return {
      title: 'เพิ่มผู้ใช้ใหม่',
      form: {
        _id: '',
        name: '',
        price: null,
        cost: null
      },

      productList: [],
      fields: ['name', 'price', 'cost', 'operation']
    }
  },
  methods: {
    addNewproduct () {
      console.log('Add New product')
      this.$bvModal.show('modal-form-product')
    },
    editproduct (product) {
      console.log('Edit' + product)
      console.log(product)
      this.title = 'แก้ไขผู้ใช้'
      this.form = { ...product }
      this.$bvModal.show('modal-form-product')
    },
    delproduct (product) {
      console.log('Del' + product)
      console.log(product)
      this.$bvModal
        .msgBoxConfirm('ท่านต้องการลบ ' + product.name + ' หรือไม่!!', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            // this.deleteproduct(product)
            // productService.deleteproduct(product)
            axios
              .delete('http://localhost:3000/products/' + product._id, this.form)
              .then(res => {
                console.log(res)
                this.getproducts()
              })
              .catch(err => {
                console.log(err)
              })
            this.getproducts()
          }
        })
    },
    resetModal () {
      this.form = {
        _id: '',
        name: '',
        price: null,
        cost: null
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Check Validate
      if (this.stateName === false) {
        return
      }
      // Do when pass validation
      if (this.form._id !== '') {
        // this.updateproduct(this.form)
        // productService.updateproduct(this.form)
        // delete this.form._id
        axios
          .put('http://localhost:3000/products', this.form)
          .then(res => {
            console.log(res)
            this.getproducts()
          })
          .catch(err => {
            console.log(err)
          })
        this.getproducts()
      } else {
        // this.addproduct(this.form)
        // productService.addproduct(this.form)
        delete this.form._id
        axios
          .post('http://localhost:3000/products', this.form)
          .then(res => {
            console.log(res)
            this.getproducts()
          })
          .catch(err => {
            console.log(err)
          })
        this.getproducts()
      }
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-product')
      })
    },
    getproducts () {
      // this.productList = productService.getproducts()
      axios
        .get('http://localhost:3000/products')
        .then(res => {
          console.log(res)
          this.productList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  computed: {
    stateName () {
      return this.form.name.length >= 2
    },
    invalidFeedbackName () {
      if (this.form.name.length > 2) {
        return ''
      } else if (this.form.name.length > 0) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'ต้องใส่ชื่อ'
      }
    },
    validFeedbackName () {
      return this.stateName === true ? 'สำเร็จ' : ''
    },
    statePrice () {
      return this.form.price != null
    },
    invalidFeedbackPrice () {
      if (this.form.price != null) {
        return ''
      } else {
        return 'กรุณาเลือกสถานะ'
      }
    },
    validFeedbackPrice () {
      return this.statePrice === true ? 'สำเร็จ' : ''
    },
    stateCost () {
      return this.form.cost != null
    },
    invalidFeedbackCost () {
      if (this.form.cost != null) {
        return ''
      } else {
        return 'กรุณาเลือกสถานะ'
      }
    },
    validFeedbackCost () {
      return this.stateCost === true ? 'สำเร็จ' : ''
    }
  },
  mounted () {
    console.log('Vue component is mounted.')
    this.getproducts()
  }
}
</script>
